body{
    margin: 0;
    background-color: #ffff00;
}

div#pauseScreen{
    top : 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(55, 55, 55, 0.4);
    position: absolute;
    z-index: 1;
    visibility: visible;
}

canvas{
    width: 100vw;
    height: 100vh;
    visibility: hidden;
}
::-webkit-scrollbar{
    width: 0;
}